@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap");

body {
  background-color: #ddb8a6;
  font-family: "Frank Ruhl Libre", serif;
  color: #893f04;
  font-size: 22px;
}

.container {
  color: #7b8760;
  text-align: right;
  font-size: 18px;
  text-decoration: none;
}

.body-content {
  text-align: center;
  margin: 15%;
}

.aboutme {
  color: #893f04;
  text-align: left;
  margin: 6%;
}

.blog {
  color: #893f04;
  text-align: left;
  margin: 6%;
}

.learningplan {
  text-align: left;
  margin: 6%;
  color: #893f04;
}

.social-link {
  display: flex;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.bloglink {
  background-color: #ddb8a6;
  font-family: "Frank Ruhl Libre", serif;
  color: #893f04;
  font-size: 16px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 17px;
}

p {
  font-size: 16px;
  text-align: justify;
}

a {
  background-color: #7b876d;
  color: white;
  font-size: 16px;
  border: none;
}

#image {
  text-align: center;
}

.aligncenter {
  text-align: center;
  margin: 1%;
}

.fab {
  color: aquamarine;
  text-align: center;
}

.dropbtn {
  background-color: #7b876d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ddb8a6;
  box-shadow: #989e8b;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: solid;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: table;
}

.dropdown:hover .dropbtn {
  background-color: #c67f43;
}

@keyframes swiftInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.intro {
  text-align: left;
  padding: 3.5em 3.5em;
}

.intro__text {
  font-size: 3em;
  line-height: 0.85;
  font-weight: 700;
  color: #414e49;
  padding-top: 1.2em;
  animation: 1s ease-out 0s 1 swiftInFromLeft;
}

/* mobile portait */
@media (max-width: 320px) and (orientation: portrait) {
  h2 {
    font-size: 19px;
  }

  h3 {
    font-size: 18px;
  }

  p a {
    font-size: 17px;
    text-align: justify;
  }
}

/* tablet portrait */
@media (max-width: 768px) and (orientation: portrait) {
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 19px;
  }

  p a {
    font-size: 18px;
    text-align: justify;
  }
}

/* desktop / laptop */
@media (max-width: 1200px) {
  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 21px;
  }

  p a {
    font-size: 19px;
    text-align: justify;
  }
}
